.title {
  font-family: "Playfair Display", serif;
  font-size: 4vw;
  line-height: 1.3;
  text-decoration: none;
  color: #1d213f;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  #cursor {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    will-change: transform;
  }

  #cursor .cursor--inner {
    width: 1.6vw;
    height: 1.6vw;
    background-color: #9b9b9b !important;
    opacity: 0.4;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* border: solid 1px black; */
  }
}

.progress {
  width: 33.6px;
  height: 67.2px;
  animation: progress-sze6ck 2s infinite backwards;
  background: linear-gradient(
    0deg,
    #474bff,
    #474bff 50%,
    transparent 50%,
    transparent
  );
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border: 6.7px solid #dbdcef;
  border-radius: 16.8px;
}

@keyframes progress-sze6ck {
  0% {
    background-position: 0 0;
    transform: rotate(0deg);
  }

  25% {
    background-position: 0 100%;
    transform: rotate(0deg);
  }

  50% {
    background-position: 0 100%;
    transform: rotate(180deg);
  }

  75% {
    background-position: 0 200%;
    transform: rotate(180deg);
  }

  100% {
    background-position: 0 200%;
    transform: rotate(360deg);
  }
}


.light {
background: white;
}
.dark{
  background: black;
}